@model CarDetailsVM
@{
    ViewData["Title"] = "Details";
}

<h3>Car Details</h3>


@Model.Car.Id
@Model.Car.RegnNr
@Model.Car.MileageKm

<h4>Bookings</h4>
@foreach (var item in Model.BookingBoxVMList)
{

    <li><partial name="_BookingBox" model="item" /></li>

}


<h4>Events</h4>
@foreach (var item in Model.EventBoxVMList)
{

    <li><partial name="_EventBox" model="item" /></li>

}