@model AccountCreateVM
@{
    ViewData["Title"] = "Create";
}

<h3>Create</h3>


<form asp-controller="Account" asp-action="Create">
    <div class="form-row">
        <div class="form-group col-3 ">
            <label asp-for="FirstName"></label>
            <input class="form-control" asp-for="FirstName" />
            <span asp-validation-for="FirstName"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-3">
            <label asp-for="LastName"></label>
            <input class="form-control" asp-for="LastName" />
            <span asp-validation-for="LastName"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-3">
            <label asp-for="Password"></label>
            <input class="form-control" asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-3">
            <label asp-for="PasswordRepeat"></label>
            <input class="form-control" asp-for="PasswordRepeat" />
            <span asp-validation-for="PasswordRepeat"></span>
        </div>
    </div>

    <input type="submit" class="btn btn-primary" value="Create" />

</form>

<a href="/Account/Login">Back</a>


<div asp-validation-summary="All"></div>

@section scripts
{
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
}
