@model AccountLoginVM
@{
    ViewData["Title"] = "Login";
}

<h3>Login</h3>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success " role="alert">
        @TempData["Message"]
    </div>

}

<form asp-controller="Account" asp-action="Login">
    <div class="form-row">
        <div class="form-group col-3 ">
            <label asp-for="FirstName"></label>
            <input class="form-control" asp-for="FirstName" />
            <span asp-validation-for="FirstName"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-3">
            <label asp-for="Password"></label>
            <input class="form-control" asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
    </div>

    <input type="submit" class="btn btn-primary" value="Login" />
</form>

<p>Don't have an account? Sign up <a href="/Account/Create">Here</a>!</p>


@*<div asp-validation-summary="All"></div>*@

@section scripts
{
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
}


