<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">*@
    @*<link rel="stylesheet" href="~/res/bootstrap-4.3.1-dist/css/bootstrap.css" />*@
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <a href="/Home">Home</a>
        <a href="/CarRental/Index">Car rental</a>
        <a href="/Customer/Index">Customers</a>
        <a href="/Car/Index">Cars</a>
        <a href="/Event/Index">Events</a>
        <a href="/Account/Login">Login</a>
        <a href="/Account/Logout">Logout</a>
    </header>
    <div>
        <h1>Biluthyrningen</h1>


        @RenderBody()
    </div>

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
