@model CarRentalBookingVM
@{
    ViewData["Title"] = "Booking";
}

<h3>Booking</h3>

<form asp-controller="CarRental" asp-action="Booking" >

    <div class="form-row">
        <div class="form-group col-xs-12 col-sm-6 col-md-4">
            <label asp-for="PersonNr"></label>
            <input class="form-control" id="CustomerPersonNr" asp-for="PersonNr" />
            <span asp-validation-for="PersonNr"></span>
        </div>
    </div>
    <button type="button" class="btn btn-secondary" id="btnCheckCustomer"
            onclick="CheckCustomer()">
        Check customer
    </button>
    <br />


    <div id="CustomerInformationInputDiv" style="background-color: aliceblue" hidden>
        <br />

        <div class="form-row">
            <div class="form-group col-12 col-sm-6 col-md-4">
                <label asp-for="FirstName">Customers First Name</label>
                <input class="form-control" id="firstNameInput" asp-for="FirstName" />
                <span asp-validation-for="FirstName"></span>
            </div>
                
            <div class="form-group col-12 col-sm-6 col-md-4">
                <label asp-for="LastName">Customers Last Name</label>
                <input class="form-control" id="lastNameInput" asp-for="LastName" />
                <span asp-validation-for="LastName"></span>
            </div>
        </div>

        @*<h6>If registering a new customer, please enter details below</h6>*@
        @*<div class="form-row"><div class="form-group col-4"><label asp-for="FirstName"></label>
        <input class="form-control" asp-for="FirstName" /><span asp-validation-for="FirstName"></span>
        </div><div class="form-group col-4"><label asp-for="LastName"></label><input class="form-control"
        asp-for="LastName" /><span asp-validation-for="LastName"></span></div></div>*@
    </div>
    <br />

    <div class="form-row">
        <div class="form-group col-12 col-sm-6 col-md-4">
            <label asp-for="StartDate"></label>
            <input class="form-control" id="StartDate" asp-for="StartDate" min=@DateTime.Today  />
            <span asp-validation-for="StartDate"></span>
        </div>

        <div class="form-group col-12 col-sm-6 col-md-4">
            <label asp-for="EndDate"></label>
            <input class="form-control" id="EndDate" asp-for="EndDate"  />
            <span asp-validation-for="EndDate"></span>
        </div>
    </div>
    <div id="dateErrorMessageDiv"></div>


    <button type="button" class="btn btn-secondary" id="btnCheckAvailability" onclick="CheckAvailability()">Check available cars</button>
    <br /><br />
    <div class="form-row">
        <div  class="form-group col-12 col-md-4">

            <select asp-for="CarId" id="AvailabilityResultsDiv" class="form-control " hidden></select>

        </div>
    </div>

    <input type="submit" class="btn btn-primary" value="Create" />
</form>


<a href="/CarRental">Back</a>

@section scripts
{
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
    <script>

        window.onload = function () {
            //document.querySelector("#StartDate").valueAsDateTime = new Date();
            let today = new Date().toISOString().substr(0, 16);
            document.querySelector("#StartDate").value = today;
            document.querySelector("#EndDate").value = today;

        }

        function CheckCustomer() {
            var personNumber = $("#CustomerPersonNr").val();
            var data = { PersonNr: personNumber };

            $.ajax({
                url: "CheckCustomer",
                type: "POST",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    console.log("CheckCustomer-anropet fungerade");
                    console.log(result);

                    $("#firstNameInput").val(result.firstName);
                    $("#lastNameInput").val(result.lastName);

                    CustomerInformationInputDiv.hidden = false;
                }
            });
        }

        function CheckAvailability() {
            var startDate = $("#StartDate").val();
            var endDate = $("#EndDate").val();

            if (startDate <= endDate) {

                var data = { StartDate: startDate, EndDate: endDate };

                $.ajax({
                    url: "CheckAvailability",
                    type: "POST",
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        console.log("CheckAvailability-anropet fungerade");
                        console.log(result);

                        var html = '<option value="" hidden>Select availible car</option>';
                        for (var i = 0; i < result.length; i++) {
                            html += '<option value="' + result[i].id + '">' + result[i].cartype
                                + " " + result[i].regnNr + " " + result[i].mileageKm + '</option>';
                        }

                        $("#AvailabilityResultsDiv").html(html);
                        AvailabilityResultsDiv.hidden = false;
                    }
                });
            }
            else {
                var html = '<div class="alert alert-danger" role="alert">End date must be after start date</div>';
                $("#dateErrorMessageDiv").html(html);

            }
        }

    </script>
}