@model CarRentalIndexVM
@{
    ViewData["Title"] = "Index";
}

<h3>Car rental</h3>

<button class="btn btn-primary" onclick="location.href ='/CarRental/Booking'">Create a booking</button>
<button class="btn btn-primary" onclick="location.href ='/CarRental/Return'">Return a car</button>

<h4>Booked cars</h4>

<div class="row">
    <div class="col-12 col-lg-10">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Car number</th>
                    <th>Booking starts</th>
                    <th>Booking ends</th>
                    <th>Car type</th>
                    <th>Registration number</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.BookingBoxVMList)
                {
                    if (!item.IsReturned)
                    {
                        <partial name="_BookingBox" model="item" />
                    }
                }

            </tbody>
        </table>
    </div>
</div>

<h4>Returned cars</h4>
<div class="row">
    <div class="col-12 col-lg-10">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Car number</th>
                    <th>Booking starts</th>
                    <th>Booking ends</th>
                    <th>Car type</th>
                    <th>Registration number</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.BookingBoxVMList)
                {
                    if (item.IsReturned)
                    {
                        <partial name="_BookingBox" model="item" />
                    }
                }

            </tbody>
        </table>
    </div>
</div>


