@model CarRentalReturnVM
@{
    ViewData["Title"] = "Return";
}

<h3>Return</h3>


<form asp-controller="CarRental" asp-action="Return">

    
    <div class="form-row">
        <div class="form-group col-12 col-sm-6 col-md-4">
            <label asp-for="BookingNr"></label>
            <input id="BookingNr" class="form-control" asp-for="BookingNr" />
            <span asp-validation-for="BookingNr"></span>
        </div>
    </div>

    <button type="button" class="btn btn-secondary" onclick="GetBookingInfo()">Get booking info</button>
    <div id="returnInputDiv"></div>


    <div class="form-row">
        <div class="form-group col-12 col-sm-6 col-md-4">
            <label asp-for="ReturnDate"></label>
            <input class="form-control" asp-for="ReturnDate" />
            <span asp-validation-for="ReturnDate"></span>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-12 col-sm-6 col-md-4">
            <label asp-for="MileageReturnKm"></label>
            <input class="form-control" asp-for="MileageReturnKm" />
            <span asp-validation-for="MileageReturnKm"></span>
        </div>
    </div>

    <br />

    <input type="submit" class="btn btn-primary" value="Return Car" />
</form>

@section scripts
{
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>

    <script>

        function GetBookingInfo() {
            var bookingNr = $("#BookingNr").val();
            var data = { Id: bookingNr };

            $.ajax({
                url: "GetBookingInfo",
                type: "POST",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    console.log("GetBookingInfo-anropet fungerade");
                    console.log(result);

                    var html = "";
                    if (result != null) {
                        if (!result.isReturned) {
                            html += "<p>Booking number: " + result.bookingNr + "</p>";
                            html += "<p>Car registration number: " + result.carRegNr + "</p>";
                            html += "<p>Booking duration: " + result.bookingStartTime + "</p>";
                            html += "<p>Booking end time: " + result.bookingEndTime + "</p>";
                            html += "<p>Booking mileage at start: " + result.mileageBefore + "</p>";
                        }
                        else {
                            html += '<div class="alert alert-warning " role="alert">That car is already returned</div>';
                            
                        }
                    }
                    else {
                        html += '<div class="alert alert-warning " role="alert">No booking with that number exists</div>';
                    }

                    $("#returnInputDiv").html(html);

                }
            });
        }

    </script>

}